name: Commitlint

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  commitlint:
    name: Lint Commit Messages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Validate commits
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .commitlintrc.json
